{% extends "note_template.html" %}
{% load static %}

{% block dashboard %}
    <li class="selected_option" style="margin-top: 1rem">
        <a href="#" id="dashboard_url">
            <i class='bx bxs-dashboard'></i>
            <span class="links_name">Dashboard</span>
        </a>
        <span class="tooltip">Dashboard</span>
    </li>
{% endblock %}

{% block main_content %}
<section class="home-section">
    <div class="text_title"><b>PolarisNote-Developing</b></div>

    <h1>this is dashboard</h1>

</section>


{% endblock %}