{% load static %}
<!DOCTYPE html>
<html>
  <head>
    <title>Polaris AI-Powered Blog Text Editor</title>
    <link rel="stylesheet" href="{% static 'example.css' %}" />
    <link
      href="https://cdn.jsdelivr.net/npm/quill@2.0.0-rc.2/dist/quill.snow.css"
      rel="stylesheet"
    />

    <link href="/styles.css" rel="stylesheet" />
    <link
      href="https://cdn.jsdelivr.net/npm/quill@2.0.0-rc.3/dist/quill.snow.css"
      rel="stylesheet"
    />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.9.0/highlight.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/quill@2.0.0-rc.3/dist/quill.js"></script>
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.9.0/styles/atom-one-dark.min.css"
    />
    <script src="https://cdn.jsdelivr.net/npm/katex@0.16.9/dist/katex.min.js"></script>
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/katex@0.16.9/dist/katex.min.css"
    />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  </head>

  <body>
    <h1>Polaris AI-Powered Blog Text Editor</h1>
    <p>Developing Version, Created by <b>Xinzhou Wang, Shanghai Uni.</b></p>
    <p>Last refresh time is <b>{{ sys_info.time }}</b></p>
    <!-- Create the editor container -->

    <div id="toolbar-container">
      <span class="ql-formats">
        <select class="ql-font"></select>
        <select class="ql-size"></select>
      </span>
      <span class="ql-formats">
        <button class="ql-bold"></button>
        <button class="ql-italic"></button>
        <button class="ql-underline"></button>
        <button class="ql-strike"></button>
      </span>
      <span class="ql-formats">
        <select class="ql-color"></select>
        <select class="ql-background"></select>
      </span>
      <span class="ql-formats">
        <button class="ql-script" value="sub"></button>
        <button class="ql-script" value="super"></button>
      </span>
      <span class="ql-formats">
        <button class="ql-header" value="1"></button>
        <button class="ql-header" value="2"></button>
        <button class="ql-blockquote"></button>
        <button class="ql-code-block"></button>
      </span>
      <span class="ql-formats">
        <button class="ql-list" value="ordered"></button>
        <button class="ql-list" value="bullet"></button>
        <button class="ql-indent" value="-1"></button>
        <button class="ql-indent" value="+1"></button>
      </span>
      <span class="ql-formats">
        <button class="ql-direction" value="rtl"></button>
        <select class="ql-align"></select>
      </span>
      <span class="ql-formats">
        <button class="ql-link"></button>
        <button class="ql-image"></button>
        <button class="ql-video"></button>
        <button class="ql-formula"></button>
      </span>
      <span class="ql-formats">
        <button class="ql-clean"></button>
      </span>
    </div>

    <div id="editor"></div>

    <button id="submitBtn">Submit JSON Data</button>
    <button id="submitBtn4RequestSuggestion">submitBtn4RequestSuggestion: 加载响应</button>
    <button id="submitBtn4InsertSuggestion">submitBtn4InsertSuggestion: 显示填充建议</button>
    <button id="submitBtn4ConfirmSuggestion">submitBtn4ConfirmSuggestion: 采取建议</button>
    <button id="submitBtn4DismissSuggestion">submitBtn4DismissSuggestion: 放弃建议</button>

    <script src="{% static 'example.js' %}"></script>
  </body>
</html>
